<div class="calculator-body container">
    <h2 class="container calculator-heading my-md-0 py-5 text-center">Калькулятор задолженности</h2>

    <div id="calculator" class="calculator-input">

        <form [formGroup]="calculatorFormGroup" (ngSubmit)="onSubmit()">

        <mat-horizontal-stepper labelPosition="bottom">
            <mat-step state="account_circle" label="Должник">
                <app-debtor [calculatorFormGroup]="calculatorFormGroup"></app-debtor>
            </mat-step>

            <mat-step state="account_balance_wallet" label="Договор">
                <app-contract [calculatorFormGroup]="calculatorFormGroup"></app-contract>
            </mat-step>

            <mat-step 
                state="all_inbox" 
                label="Счета" 
                [stepControl]="calculatorFormGroup" 
                errorMessage="Заполните поля!">
                    <h5 class="heading mt-5 mb-5">
                        Введите информацию о счетах
                        <button type="button" (click)="addBill()" class="btn btn-outline-info btn-sm">Добавить счёт</button>
                    </h5>
                    <div class="mb-2" formArrayName="bills" *ngFor="let bill of bills; let i=index">
                        <app-bill 
                            [index]="i" 
                            [bill]="bill"
                            [billFormArray]="billFormArray">
                        </app-bill>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-sm-3 calculate-button-parent mt-4">
                            <button type="button" class="btn btn-primary btn-next" mat-button matStepperNext>Далее</button>
                        </div>
                    </div>
            </mat-step>

            <mat-step state="attach_money" label="Общий долг">
                <app-balance [calculatorFormGroup]="calculatorFormGroup"></app-balance>
            </mat-step>

            <mat-step state="money" label="Рассчет">
                <app-calculation-date [calculatorFormGroup]="calculatorFormGroup"></app-calculation-date>
            </mat-step>

        </mat-horizontal-stepper>

        <app-calculation-info *ngIf="hasCalculation()"></app-calculation-info> 
        <app-error *ngIf="hasError()"></app-error> 


        </form>
    </div>
</div>