<div class="calculator-body">
    <h2 class="container calculator-heading my-md-0 py-3 text-center">Калькулятор задолженности</h2>
    <div id="calculator" class="container calculator-input px-2 px-lg-5 py-3">

        <form [formGroup]="calculatorFormGroup" (ngSubmit)="onSubmit()">

            <div class="card m-3">
                <h5 class="card-header">Должник</h5>
                <app-debtor [calculatorFormGroup]="calculatorFormGroup"></app-debtor>
            </div>

            <div class="card m-3">
                <h5 class="card-header">Договор</h5>
                <app-contract [calculatorFormGroup]="calculatorFormGroup"></app-contract>
            </div>
            
            <div class="card m-3">
                <h5 class="card-header">
                    Счета
                    <button type="button" (click)="addBill()" class="btn btn-outline-info btn-sm">+</button>
                </h5>
                <div class="mb-2" formArrayName="bills" *ngFor="let bill of bills; let i=index">
                    <app-bill 
                        [index]="i" 
                        [bill]="bill"
                        [billFormArray]="billFormArray">
                    </app-bill>
                </div>
            </div>

            <div class="card m-3">
                <h5 class="card-header">Общий долг</h5>
                <app-balance [calculatorFormGroup]="calculatorFormGroup"></app-balance>
            </div>

            <div class="card m-3">
                <h5 class="card-header">Рассчитать на дату</h5>
                <app-calculation-date [calculatorFormGroup]="calculatorFormGroup"></app-calculation-date>
            </div>

            <app-calculation-info *ngIf="hasCalculation()"></app-calculation-info> 
            <app-error *ngIf="hasError()"></app-error> 
        </form>

    </div>
</div>