<div id="calculator" class="container">
    <form>
        <h5>Должник</h5>
        <app-debtor></app-debtor>

        <h5>Договор</h5>
        <app-contract></app-contract>

        <h5>
            ТТН
            <button type="button" (click)="addBill()" class="">add</button>
        </h5>
        <div *ngFor="let bill of bills; let i=index">
            <app-bill [index]="i"></app-bill>
        </div>

        <h5>
            Оплаты
            <button type="button" (click)="addPayment()" class="">add</button>
        </h5>
        <div *ngFor="let payment of payments; let i = index">
            <app-payment [index]="i"></app-payment>
        </div>

        <h5>Общий долг</h5>
        <app-balance></app-balance>

        <h5>Рассчитать на дату</h5>
        <app-calculation-date></app-calculation-date>

        <input type="button" (click)="makeCalculation()" class="btn btn-primary" value="Рассчитать">
    </form>
</div>