<div class="card-body">

    <div class="form-group row">

        <label class="col-sm-5 justify-content-end" for="balance-amount">Общий долг: </label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">руб.</span>
            </div>
            <input 
                class="form-control col-sm-2" 
                type="text" 
                name="balance-amount" 
                [formControl]="balance">
        </div>

    </div>

</div>