<h5 class="heading mt-5 mb-5">Общий долг</h5>

<div class="row justify-content-md-center">

    <div class="col-sm-3">
        <mat-form-field class="full-width">
            <mat-label>Общий долг:</mat-label>
            <input 
                matInput
                type="number"
                [formControl]="balance">
            <span matSuffix>руб.</span>
        </mat-form-field>
    </div>

</div>

<div class="row justify-content-md-center">
    <div class="col-sm-3 calculate-button-parent mt-4">
        <button type="button" class="btn btn-primary btn-next" mat-button matStepperNext>Далее</button>
    </div>
</div>