<div id="bill" class="form-group row">

        <div class="col-auto">
                <label class="col-sm-2 col-form-label" for="bill-number">Номер: </label>
                <input class="form-control" type="text" name="bill-number" [(ngModel)]="bill.number">
        </div>

        <div class="col-auto">
                <label class="col-sm-2 col-form-label" for="bill-date">Дата: </label>
                <input class="form-control" type="date" name="bill-date" [ngModel]="bill.date | date:'yyyy-MM-dd'"
                        (ngModelChange)="bill.date = $event">
        </div>

        <div class="col-auto">
                <label class="col-sm-2 col-form-label" for="bill-amount">Сумма: </label>
                <div class="input-group mb-2">
                        <div class="input-group-prepend">
                                <div class="input-group-text">руб.</div>
                        </div>
                        <input class="form-control" type="number" name="bill-amount" [(ngModel)]="bill.amount">
                </div>
        </div>

        <div class="col-auto">
                <button *ngIf="displayDeleteButton()" type="button" (click)="deleteBill()">delete</button>
        </div>
</div>