<div id="bill" class="">

        <label for="bill-number">Номер: </label>
        <input type="text" name="bill-number" size="5" [(ngModel)]="bill.number">

        <label for="bill-date">Дата: </label>
        <input type="date" name="bill-date" [ngModel]="bill.date | date:'yyyy-MM-dd'"
                (ngModelChange)="bill.date = $event">

        <label for="bill-amount">Сумма: </label>
        <input type="number" name="bill-amount" size="10" [(ngModel)]="bill.amount">

        <button *ngIf="displayDeleteButton()" type="button" (click)="deleteBill()">delete</button>
</div>