<div [formGroup]="billFormGroup" class="mb-2">

    <div class="row">

        <div class="col-sm-2 mb-2">
            <mat-form-field class="full-width">
                <mat-label>Номер:</mat-label>
                <input 
                    matInput
                    name="number"
                    formControlName="number"
                    placeholder="номер счёта">
            </mat-form-field>
        </div>

        <div class="col-sm-3 mb-2">
            <mat-form-field class="full-width">
                <mat-label>Дата:</mat-label>
                <input 
                    matInput
                    [matDatepicker]="datePicker"
                    formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                <mat-datepicker #datePicker></mat-datepicker>
                <mat-error *ngIf="billFormGroup.controls.date.hasError('required')">
                    <strong>Дата</strong> обязательна для заполнения
                </mat-error>
                <mat-error *ngIf="billFormGroup.controls.date.hasError('matDatepickerParse')">
                    "{{billFormGroup.controls.date.getError('matDatepickerParse').text}}"
                    неверная дата!
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-sm-3 mb-2">
            <mat-form-field class="full-width">
                <mat-label>Сумма:</mat-label>
                <input 
                    matInput
                    type="number"
                    formControlName="amount">
                    <span matSuffix>руб.</span>
                    <mat-error *ngIf="billFormGroup.controls.amount.hasError('required')">
                        <strong>Сумма</strong> обязательна для заполнения
                    </mat-error>
            </mat-form-field>
        </div>

        <div class="col-sm-3 mb-2">
            <mat-form-field class="full-width">
                <mat-label>Дата оплаты:</mat-label>
                <input 
                    matInput
                    [matDatepicker]="paymentDatepicker"
                    formControlName="paymentDate">
                <mat-datepicker-toggle matSuffix [for]="paymentDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #paymentDatepicker></mat-datepicker>
                <mat-error *ngIf="billFormGroup.controls.paymentDate.hasError('required')">
                    <strong>Дата оплаты</strong> обязательна для заполнения
                </mat-error>
                <mat-error *ngIf="billFormGroup.controls.paymentDate.hasError('matDatepickerParse')">
                    "{{billFormGroup.controls.paymentDate.getError('matDatepickerParse').text}}"
                    неверная дата!
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-sm-1 mb-4 btn-vertical-center">
            <button 
                *ngIf="hasMoreThanOneElement()" 
                class="btn btn-outline-info btn-sm" 
                (click)="deleteBill()">
                    <span class="material-icons">delete_outline</span>
            </button>
        </div>

    </div>

    <h5>
        Оплаты
        <button type="button" (click)="addPayment()" class="btn btn-outline-info btn-sm">Добавить оплату</button>
    </h5>
    <div formArrayName="payments" *ngFor="let payment of payments; let i=index">
        <app-payment [index]="i" [payment]="payment" [bill]="bill" [paymentFormArray]="paymentFormArray">
        </app-payment>
    </div>

    <mat-divider *ngIf="!isLastElement()" class="mt-4 mb-4"></mat-divider>

</div>