<h5 class="heading mt-5 mb-5">Введите информацию о должнике</h5>

<div [formGroup]="debtorFormGroup" class="row justify-content-md-center">

    <div class="col-sm-6 mb-2">
        <mat-form-field class="full-width">
            <mat-label>Название:</mat-label>
            <input 
                matInput
                name="name"                    
                formControlName="name"                    
                placeholder="введите название должника">
        </mat-form-field>
    </div>

     <div class="col-sm-6 mb-2">
        <mat-form-field class="full-width">
            <mat-label>Реквизиты:</mat-label>
            <input 
                matInput
                name="props"
                formControlName="props"
                placeholder="введите реквизиты должника">
        </mat-form-field>
    </div>
    
</div>

<div class="row justify-content-md-center">
    <div class="col-sm-3 calculate-button-parent mt-4">
        <button type="button" class="btn btn-primary btn-next" mat-button matStepperNext>Далее</button>
    </div>
</div>