<div [formGroup]="debtorFormGroup" class="card-body">

    <div class="form-group row">

        <div class="col-sm-5 mb-2">
            <label class="justify-content-start" for="debtor-name">Название:</label>
            <input 
                class="form-control" 
                type="text" 
                name="debtor-name" 
                formControlName="name"
                placeholder="введите название должника">
        </div>

        <div class="col-sm-5 mb-2">
            <label class="justify-content-start" for="debtor-props">Реквизиты:</label>
            <input 
                class="form-control" 
                type="text" 
                name="debtor-props" 
                formControlName="props"
                placeholder="введите реквизиты должника">
        </div>

    </div>
</div>