<div [formGroup]="paymentFormGroup" class="card-body">

    <div class="form-group row mb-n4">

        <div class="col-sm-3 mb-2">
            <label class="justify-content-start" for="payment-date">Дата: </label>
            <input 
                class="form-control" 
                type="date" 
                name="payment-date" 
                formControlName="date">
        </div>

        <div class="col-sm-3 mb-2">
            <label class="justify-content-start" for="payment-amount">Сумма: </label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">руб.</span>
                </div>
                <input 
                    class="form-control" 
                    type="text" 
                    name="payment-amount"
                    formControlName="amount">
            </div>
        </div>

        <div class="col-sm-3 mb-2" style="display: flex; align-items: flex-end;">
            <button class="btn btn-info" (click)="deletePayment()">Удалить Оплату</button>
        </div>

    </div>

</div>