<div id="contract" class="">

    <label for="contract-number">Номер: </label>
    <input type="text" name="contract-number" size="5" [(ngModel)]="contract.number">

    <label for="contract-date">Дата: </label>
    <input type="date" name="contract-date" [ngModel]="contract.date | date:'yyyy-MM-dd'"
        (ngModelChange)="contract.date = $event">

    <label for="contract-pay-date">Срок оплаты: </label>
    <input type="date" name="contract-pay-date" [ngModel]="contract.paymentDate | date:'yyyy-MM-dd'"
        (ngModelChange)="contract.paymentDate = $event">

    <label for="contract-fine">Пеня: </label>
    <input type="number" name="contract-fine" size="3" [(ngModel)]="contract.fine">

</div>