<div id="contract" class="container">
    <h5>Договор</h5>
    <form>
        <label for="contract-number">Номер: </label>
        <input type="text" name="contract-number" size="5" value="22">
        <label for="contract-date">Дата: </label>
        <input type="date" name="contract-date" value="2019-01-01">
        <label for="contract-pay-date">Срок оплаты: </label>
        <input type="date" name="contract-pay-date" value="2019-02-01">
        <label for="contract-fine">Пеня: </label>
        <input type="number" name="contract-fine" size="3" value="10">
    </form>
</div>
