@import '~@angular/material/theming';

@include mat-core();

$calculator-app-primary: mat-palette($mat-green);
$calculator-app-accent:  mat-palette($mat-green, A400, A700, A200);
$calculator-app-theme:   mat-light-theme($calculator-app-primary, $calculator-app-accent);

@mixin mat-stepper-theme($calculator-app-theme) {
    .mat-horizontal-stepper-header:not(:first-child)::before {
        top: 53px !important;
        color: #c8c8c8;
        left: -6px !important;
    }

    .mat-horizontal-stepper-header:not(:last-child)::after {
        top: 53px !important;
        color: #c8c8c8;
        right: -6px !important;
    }

    .mat-stepper-horizontal-line {
        top: 53px !important;
        color: #c8c8c8;
    } 

    .mat-horizontal-stepper-header-container {
        border-bottom: 1px solid #f2f2f2;
        background: #fcfcfc;
        border-radius: 30px 30px 0 0;
    }

    div.mat-step-icon-content > .mat-icon {
        font-size: 25px;
        height: 25px;
        width: 25px;
    }

    div.mat-step-icon {
        color: #c8c8c8;
        width: 53px;
        height: 53px;
        border: 2px solid #c8c8c8;
    }

    div.mat-step-icon-state-error {
        border: 2px solid red;
        color: red;
    }

    .mat-step-sub-label-error {
        color: red;
    }

    div.mat-step-icon-state-done {
        border: 2px solid #7ed321;
        color: #7ed321;
    }

    .mat-step-icon-state-done + .mat-step-label-active {
        color: #7ed321;
    }

    div.mat-step-icon-state-edit {
        color: #fff;
        background-color: #7ed321;
        border: none;
    }
    
    .mat-step-header {
        background-color: inherit;
    }  

    .mat-step-label-active {
        color: #c8c8c8;
    }

    .mat-step-label-selected {
        color: #7ed321;
    }

    .mat-step-label-error {
        color: red;
    }
    
    div.mat-step-icon-selected {
        background-color: white;
        color: #7ed321;
        border: 2px solid #7ed321;
        box-shadow: 0 0 0px 3px #7ed321;
    }
}

@include angular-material-theme($calculator-app-theme);