<div>

    <div class="form-group form-inline">

        <div class="col-sm-3 md-3 justify-content-end">
            <label class="justify-content-start" for="calculator-date">Дата: </label>
            <input 
                class="form-control" 
                type="date" 
                name="calculation-date"
                [formControl]=calculationDate>
        </div>

        <div class="col-sm-3 calculate-button-parent mt-4">
            <input 
                class="btn btn-warning" 
                type="submit" 
                value="Рассчитать">
        </div>
    </div>

</div>