<h5 class="heading mt-5 mb-5">Рассчитать на дату</h5>

<div class="row justify-content-md-center">

    <div class="col-sm-3">
        <mat-form-field class="full-width">                
            <mat-label>Дата расчёта:</mat-label>
            <input
                matInput
                [matDatepicker]="picker"
                [formControl]=calculationDate>                
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="calculatorFormGroup.controls.calculationDate.hasError('matDatepickerParse')">
                "{{calculatorFormGroup.controls.calculationDate.getError('matDatepickerParse').text}}"
                неверная дата!
            </mat-error>
        </mat-form-field>
    </div>

</div>

<div class="row justify-content-md-center">

    <div class="col-sm-3 calculate-button-parent mt-4">
        <button 
            class="btn btn-primary btn-next" 
            type="submit" 
            [disabled]="!calculatorFormGroup.valid">Рассчитать
        </button>
    </div>

</div>